.items {
    /* margin: 0.5rem; */
    /* background: white; */
    font-size: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    min-width: 500px;
    width: 100%;
}

.add-form {
    min-height: 20vh;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-form input {
    width: 100%;
}

.add-form input:focus {
    outline: none;
    border: none;
}

.add-form input,
.add-form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: white;
}
.add-form button {
    background-color: #f68084;
    color: #fff;
    /* padding: 0.2rem 0.5rem; */
    padding-left: .7rem;
    padding-right: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.add-form button:hover {
    background: #04aa6d;
    color: white;
}




.heading {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: xx-large;

}

